:root {
	/* ------- colors ------- */
	--primary-color: #0f172a;
	--secondary-color: #475569;
	--tertiary-color: #94a3b8;
	--quaternary-color: #f1f5f9;
	--link-color: #3b82f6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}